/* 
    AUTHOR: Dieter Randolph
*/

/* ------------------------------------------ */
/* RESETS, BASIC PAGE SETUP, BASIC TYPOGRAPHY */
/* ------------------------------------------ */
* { margin: 0; padding: 0; }
:focus { outline: 0; }
html {  }
body { background-color: #ccc; }
ul { list-style-type: none; }
p {  }
a { outline: none; }
a img { border: none; }
table {
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: baseline;
}
section, article, header, footer, nav, aside, hgroup { display: block; }
/* END RESET */

/* ------------------------------------------ */
/* TOOLBOX CSS */
/* ------------------------------------------ */
a:link, a:visited {}
a:hover {}
/* END TOOLBOX */

/* ------------------------------------------ */
/* PAGE STRUCTURE */
/* ------------------------------------------ */
#cli_holder, #cli_input {
  font-family: monospace;
  color: #222;
  font-size: 12px;
  line-height: 1.5em;
}
#cli_holder {
  margin: 20px;
  padding: 10px;
  height: 300px;
  overflow: auto;
  background-color: #fff;
  font-family: monospace;
  color: #222;
}
#cli_input {
  border: none;
  font-weight: bold;
  width: 95%;
}
li.request:before, .prompt:before {
  content:"> ";
}
#cli_transcript li.request {
  color: #063;
  cursor: pointer;
}
#cli_transcript li.response {
  color: #036;
  padding-left: 1em;
}
#cli_transcript li.response strong {
  text-transform: uppercase;
  font-weight: normal;
}
#cli_transcript a.external {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC) center right no-repeat;
  padding-right:13px;
  text-decoration:none;
}
#cli_transcript a.external:hover {
  text-decoration:underline;
}
/* END STRUCTURE */